<main>
    <div class="container text-center">

        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-12 d-flex align-items-center justify-content-center titulo">
                <h1 class="font-effect-outline">Inspección Técnica de Vehículos</h1>
            </div>
            <div class="col-12  mensajes">
                <h4>Hola, {{citaporId.nombre}}. Para cancelar esta cita, pulse aquí:
                </h4>
            </div>
        </div>
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-12 d-flex align-items-center justify-content-center mensajes">
                <form method="get" action="/citas/nueva">
                    <button class="btn btn-secondary">Pedir una nueva cita</button>
                </form>
            </div>
        </div>

    </div>

</main>