  <main>
    <div class="container text-center">
  
      <div class="row d-flex align-items-center justify-content-center ">
         <div class="col-12 d-flex align-items-center justify-content-center titulo">
          <h1 class="font-effect-outline">Inspección Técnica de Vehículos</h1>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-center mensajes" >
            <h4>
             Ups! Datos incorrectos <br>
             No encontramos nada :(
            </h4>
         </div>
       

        <div class="col-12 d-flex align-items-center justify-content-center mensajes">
          <form method="get" action="/citas/nueva">
            <button class= "btn btn-secondary">Volver</button>
            </form>
        </div>
       
      </div>      
    </div>
  </main>


 